accelerate
aiofiles
audioop-lts
brotli
charset-normalizer
cobble
colorlog
cuda-bindings
cuda-pathfinder
cuda-toolkit
distro
fast-langdetect
fasttext-predict
ffmpy
filelock
flatbuffers
fsspec
ftfy
gradio
gradio-client
gradio-pdf
groovy
hf-xet
httpx-retries
huggingface-hub
jinja2
jiter
json-repair
loguru
magika
mammoth
markdown-it-py
markupsafe
mdurl
mineru
mineru-vl-utils
modelscope
modelscope-hub
mpmath
networkx
numpy
nvidia-cublas
nvidia-cuda-cupti
nvidia-cuda-nvrtc
nvidia-cuda-runtime
nvidia-cudnn-cu13
nvidia-cufft
nvidia-cufile
nvidia-curand
nvidia-cusolver
nvidia-cusparse
nvidia-cusparselt-cu13
nvidia-nccl-cu13
nvidia-nvjitlink
nvidia-nvshmem-cu13
nvidia-nvtx
onnxruntime
openai
opencv-python
orjson
pandas
pdftext
protobuf
psutil
pyclipper
pydantic-settings
pydub
pygments
pylatexenc
pypdf
pypptx-with-oxml
python-dateutil
python-docx
pytz
pyyaml
regex
reportlab
requests
rich
robust-downloader
safehttpx
safetensors
semantic-version
setuptools
shapely
shellingham
sniffio
sympy
tokenizers
tomlkit
torch
torchvision
tqdm
transformers
triton
typer
urllib3
wcwidth
